*{
  box-sizing: border-box;
}
body{
  font-size: 24px;
}

/** Header **/
#header-nav{
  border-radius: 0;
  border: 0;
}

#logo{
  background-image: url('../images/logo.png');
  background-size: contain;
  width: 110px;
  height: 110px;
  margin: 10px 15px 10px 0;
}
.navbar-brand{
  height: auto;
  padding-bottom: 0;
}
.navbar-brand h1{
  text-shadow: 1px 1px 1px #222;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

.navbar-brand span{
  font-size: 70%;
  font-weight: bold;
}

#navbar-button{
  margin-top: 6vw;
}


#nav-list{
  margin-top: 10px;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #61122f;
}
#collapsable-nav span{
  margin-right: 1px;
}
#collapsable-nav span{
  font-size: 1em;
}

/* BODY */
.container .jumbotron{
  padding: 0;
}

#tigers, #cats, #map {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
#tigers{
  background-image: url('../images/tigers/tigers.jpg');
  background-size: cover;
}
#cats{
  background-image: url('../images/cats/cats.jpg');
  background-size: cover;
}
#tigers span, #cats span, #map span{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  opacity: .8;
}

#picture img{
  max-width: 200px;
  max-height: 150px;
  padding: 10px;
  display: block;
  margin: auto;
}

/* BODY END */


/* FOOTER */
.footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 0;
  font-size: 0.9em;
}
.footer div.row {
  margin-bottom: 35px;
}
.footer section{
  font-size: 0.7em;
  line-height: 2;
}
.footer span {
  font-size: 1.3em;
}

#description {
  font-style: italic;
}

#description p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */


/*/********** Large devices only **********/
@media (min-width: 1200px) {
  /*background*/
  .container .jumbotron{
    background-image: url('../images/homepage/background_lg.jpg');
    background-size: cover;
    height: 800px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo {
    background-image: url('../images/logo.png');
    background-size: contain;
    width: 90px;
    height: 90px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /*background*/
  .container .jumbotron{
    background-image: url('../images/homepage/background_lg.jpg');
    background-size: cover;
    height: 600px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /*background*/
  .container .jumbotron{
    background-image: url('../images/homepage/background_sm.jpg');
    background-size: cover;
    height: 450px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* HEADER */
  .navbar-brand h1{
    font-size: 5vw;
  }
  .navbar-brand span{
    font-size: 2vw;
  }
  .navbar-brand img{
    height: 20px;
  }

  #nav-list a{
    text-align: center;
  }
  /* HEADER END*/

  /* BODY */
  #goback{
    line-height: 12vh;
  }
  #goback a{
    font-size: 3vh;
    padding-left: 0;
  }
  /* BODY END */

  /* Footer */
  .footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .footer section hr {
    width: 50%;
  }
  /* End Footer */

}